[submodule "FreeRTOS-Task1"]
	path = FreeRTOS-Task1
	url = https://github.com/MahendraSondagar/FreeRTOS-Task1.git
[submodule "FreeRTOS-Task2"]
	path = FreeRTOS-Task2
	url = https://github.com/MahendraSondagar/FreeRTOS-Task2.git
[submodule "FreeRTOS-Task3"]
	path = FreeRTOS-Task3
	url = https://github.com/MahendraSondagar/FreeRTOS-Task3.git
[submodule "FreeRTOS-Queue1"]
	path = FreeRTOS-Queue1
	url = https://github.com/MahendraSondagar/FreeRTOS-Queue1.git
[submodule "FreeRTOS-Queue2"]
	path = FreeRTOS-Queue2
	url = https://github.com/MahendraSondagar/FreeRTOS-Queue2.git
[submodule "FreeRTOS-Queue3"]
	path = FreeRTOS-Queue3
	url = https://github.com/MahendraSondagar/FreeRTOS-Queue3.git
