[submodule "FreeRTOS-Task1"]
	path = FreeRTOS-Task1
	url = https://github.com/MahendraSondagar/FreeRTOS-Task1.git
[submodule "FreeRTOS-Task2"]
	path = FreeRTOS-Task2
	url = https://github.com/MahendraSondagar/FreeRTOS-Task2.git
[submodule "FreeRTOS-Task3"]
	path = FreeRTOS-Task3
	url = https://github.com/MahendraSondagar/FreeRTOS-Task3.git
[submodule "FreeRTOS-Queue1"]
	path = FreeRTOS-Queue1
	url = https://github.com/MahendraSondagar/FreeRTOS-Queue1.git
[submodule "FreeRTOS-Queue2"]
	path = FreeRTOS-Queue2
	url = https://github.com/MahendraSondagar/FreeRTOS-Queue2.git
[submodule "FreeRTOS-Queue3"]
	path = FreeRTOS-Queue3
	url = https://github.com/MahendraSondagar/FreeRTOS-Queue3.git
[submodule "FreeRTOS-Mutex1"]
	path = FreeRTOS-Mutex1
	url = https://github.com/MahendraSondagar/FreeRTOS-Mutex1.git
[submodule "FreeRTOS-Recursive-Mutex1"]
	path = FreeRTOS-Recursive-Mutex1
	url = https://github.com/MahendraSondagar/FreeRTOS-Recursive-Mutex1.git
[submodule "FreeRTOS-BinarySemaphore1"]
	path = FreeRTOS-BinarySemaphore1
	url = https://github.com/MahendraSondagar/FreeRTOS-BinarySemaphore1.git
[submodule "FreeRTOS-BinarySemaphore2"]
	path = FreeRTOS-BinarySemaphore2
	url = https://github.com/MahendraSondagar/FreeRTOS-BinarySemaphore2.git
[submodule "FreeRTOS-CountingSemaphore1"]
	path = FreeRTOS-CountingSemaphore1
	url = https://github.com/MahendraSondagar/FreeRTOS-CountingSemaphore1.git
[submodule "FreeRTOS-Timer1"]
	path = FreeRTOS-Timer1
	url = https://github.com/MahendraSondagar/FreeRTOS-Timer1.git
[submodule "FreeRTOS-TaskNotifications"]
	path = FreeRTOS-TaskNotifications
	url = https://github.com/MahendraSondagar/FreeRTOS-TaskNotifications
[submodule "FreeRTOS-TaskNotifications2"]
	path = FreeRTOS-TaskNotifications2
	url = https://github.com/MahendraSondagar/FreeRTOS-TaskNotifications2
[submodule "FreeRTOS-TaskNotifications3"]
	path = FreeRTOS-TaskNotifications3
	url = https://github.com/MahendraSondagar/FreeRTOS-TaskNotifications3
[submodule "FreeRTOS-EventGroup"]
	path = FreeRTOS-EventGroup
	url = https://github.com/MahendraSondagar/FreeRTOS-EventGroup
[submodule "FreeRTOS-EventGroup2"]
	path = FreeRTOS-EventGroup2
	url = https://github.com/MahendraSondagar/FreeRTOS-EventGroup2
